@{
    ViewData["Title"] = "Home Page";
}

<section class="pt-page pt-page-1  section-paddings-0 table pt-page-current" data-id="home">
    <div class="section-inner">
        <div class="app-logo"><img src="images/logo2.png" class="img-responsive" /></div>
        <div class="home-page-block">

            <h2>Γειά σου {ονομα}</h2>
            <h2>Καλως ήρθές στη νέα υπηρεσία πληρωμών του Δήμου Κηφισιάς</h2>

        </div>

        <div class="item can-do">
            <h3>Απο εδώ μπορείς:</h3>

            <ul class="check-list">
                <li><i class="fa fa-check" aria-hidden="true"></i> Να εξοφλείς ηλεκτρονικά τις οφειλές σου προς το δήμο</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Να κάνεις διακανονισμό για τις οφειλές σου προς το δήμο</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Να κάνεις εγγραφή στις δραστηριότητες του δήμου</li>
            </ul>
        </div>

    </div>
</section>
